*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-bottom: solid 1px orangered;
}

.logo img{
    width:75px;
    border-radius: 100px;
}
 .nav-items > ul{ 
    display: flex;
    justify-content: space-around;
 }

 .nav-items > ul > li{
    padding: 10px; 
    list-style: none;
 }
 .body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
 }
.card-container, .shimmer-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1200px;
   margin: auto;
}

.card , .shimmer-cards {
   display: flex;
   flex-direction: column;
   flex: 1 1 calc(20% - 10px);
   max-width: calc(20% - 10px);
   min-width: calc(100%  5);
   margin: 5px;
   padding: 10px;
   border-radius: 10px;
   transition: all 0.3s ease;
   overflow: hidden;
}

.card img {
   width: 100%;
   height: 180px;
   border-radius: 10px;
   object-fit: cover;
}

.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   margin: 3px 0;
}

.card:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   cursor: pointer;
}

 
.filter-container{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   margin: 10px 0px;
   gap: 10px;
}
 .search{
   display: flex;
   
    border: solid 1px #000000;
    border-radius: 10px;
    padding: 6px;
 }

.shimmer-cards{
   width: 200px;
   height: 185px;
   background-color: #5b5757;
   border-radius: 10px;
   animation: shimmerAnimation infinite linear 1s;
}

@keyframes shimmerAnimation {
  from{
   background-color: #5b5757;
  } 
  to{
   background-color: aqua;
  }
   
}
